# Data Structures

In [1]:
#""" List[]:            ordered,       changeable,          duplicates
 #   Tuple():            ordered,       unchangeable,        duplicates
  #  Set{}:             Unordered,     addable?removable,   no duplicates
  #  Dictionary{}:      Unordered,     changeable,          no duplicates
#"""

In [5]:
L = [1,3,4.9,"name",3]
T = (1,3,4.9,"name",3)
S = {1,3,4.9,"name",3}
D = {23:"twothree",'B':43,"c":"cc"}

In [6]:
print('The type of L is ', type(L))
print('The type of T is ', type(T))
print('The type of S is ', type(S))
print('The type of D is ', type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

In [7]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
twothree

In [8]:
print(D["B"])

43

In [10]:
S

{1, 3, 4.9, 'name'}

In [11]:
L

[1, 3, 4.9, 'name', 3]

In [12]:
L[1:3]

[3, 4.9]

In [14]:
L[::-1] #reverses the list, almost all functions under strings are the same as with list

[3, 'name', 4.9, 3, 1]

In [15]:
L = L + ["how",'are',6,"you"] #to append 2 lists

In [16]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you']

In [17]:
L.append(6.8) #add an element to a list

In [18]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 6.8]

In [19]:
T2 =("a","b",45)

In [20]:
T3 = T+T2

In [21]:
T3 #you cannot insert another element into a tuple, you can only add 2 tuples together

(1, 3, 4.9, 'name', 3, 'a', 'b', 45)

In [22]:
S.add(56)

In [23]:
S

{1, 3, 4.9, 56, 'name'}

In [24]:
S.update({23,"game",1})

In [25]:
S

{1, 23, 3, 4.9, 56, 'game', 'name'}

In [26]:
D

{23: 'twothree', 'B': 43, 'c': 'cc'}

In [27]:
D["newkey"] = "newvalue"

In [28]:
D

{23: 'twothree', 'B': 43, 'c': 'cc', 'newkey': 'newvalue'}

In [29]:
D2 = {"y":"YY","z":10}

In [30]:
del L[3]

In [32]:
L

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [33]:
S.remove("game")

In [34]:
S

{1, 23, 3, 4.9, 56, 'name'}

In [35]:
D

{23: 'twothree', 'B': 43, 'c': 'cc', 'newkey': 'newvalue'}

In [40]:
del D['c']

{23: 'twothree', 'B': 43, 'newkey': 'newvalue'}

In [41]:
D

{23: 'twothree', 'B': 43, 'newkey': 'newvalue'}

In [42]:
L

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [45]:
L2 = L

In [46]:
L2

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [48]:
L2[2] = "FOUR POINT NINE"

In [49]:
L2

[1, 3, 'FOUR POINT NINE', 3, 'how', 'are', 6, 'you', 6.8]

In [51]:
L #L also changes because both are pointing to the same structure in the memory

[1, 3, 'FOUR POINT NINE', 3, 'how', 'are', 6, 'you', 6.8]

In [52]:
L2 = L.copy() #this function does not affect the initial list when a change is made

In [53]:
L2[2] = 4.9

In [54]:
L2

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [56]:
L #L doesnt change in a copy() function

[1, 3, 'FOUR POINT NINE', 3, 'how', 'are', 6, 'you', 6.8]

In [57]:
L3 = L[1:5]

In [58]:
L3

[3, 'FOUR POINT NINE', 3, 'how']

In [59]:
L3[0] = "three"

In [61]:
L3 # the change does not reflect in L.

['three', 'FOUR POINT NINE', 3, 'how']

In [62]:
help(L.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [63]:
help(L.clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

In [64]:
help(L.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [65]:
L.reverse()

In [66]:
L

[6.8, 'you', 6, 'are', 'how', 3, 'FOUR POINT NINE', 3, 1]

In [67]:
L

[6.8, 'you', 6, 'are', 'how', 3, 'FOUR POINT NINE', 3, 1]

In [68]:
T

(1, 3, 4.9, 'name', 3)

In [69]:
S

{1, 23, 3, 4.9, 56, 'name'}

In [70]:
D

{23: 'twothree', 'B': 43, 'newkey': 'newvalue'}

In [72]:
D2 = {"A":L,"B":T,"C":S,"D":D}

In [74]:
D2["A"][3]

'are'

In [75]:
K = D2['D']

In [76]:
K

{23: 'twothree', 'B': 43, 'newkey': 'newvalue'}

In [77]:
for x in K:
    print(x,K[x])

23 twothree
B 43
newkey newvalue

In [78]:
L3 = [L,T,D,23,"game"]

In [79]:
L3

[[6.8, 'you', 6, 'are', 'how', 3, 'FOUR POINT NINE', 3, 1],
 (1, 3, 4.9, 'name', 3),
 {23: 'twothree', 'B': 43, 'newkey': 'newvalue'},
 23,
 'game']

In [80]:
type(L3[2])

dict

In [81]:
L3 = [x**2 for x in range (10)]

In [82]:
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [83]:
S3 = {x**2 for x in range (2,20,3)}

In [84]:
S3

{4, 25, 64, 121, 196, 289}

In [85]:
23 in D

True

In [87]:
43 in D

False

In [90]:
"""Let say you are a teacher, and you have different students records containing ID of students and the
marks list in each subjects where different students have taken different number of subjects. All these
records are in hard copy. You want to enter all the data in computer and want to compute the average 
mark of each students and display"""

def getDataFromUser():
    while True:
        studentId = input("Enter student ID: ")
        marksList = input("Enter the marks by comma separated values: ")
        moreStudents = input('Enter "no" to quit insertion: ')
        if studentId in D:
            print(studentId, " is already inserted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no":
            return D

In [91]:
studentData = getDataFromUser()

Enter student ID: 12
Enter the marks by comma separated values: 24,65,87
Enter "no" to quit insertion: adf
Enter student ID: 45
Enter the marks by comma separated values: 44,55,66,77,4
Enter "no" to quit insertion: uu
Enter student ID: 12
Enter the marks by comma separated values: 45,45
Enter "no" to quit insertion: hhh
12  is already inserted
Enter student ID: 23
Enter the marks by comma separated values: 45,45
Enter "no" to quit insertion: no

In [93]:
studentData

{23: 'twothree',
 'B': 43,
 'newkey': 'newvalue',
 '12': ['24', '65', '87'],
 '45': ['44', '55', '66', '77', '4'],
 '23': ['45', '45']}